.main-text {
  position: absolute;
  top: 50%;
  left: 88%;
  -webkit-transform: translate(-50%, -88%);
          transform: translate(-50%, -88%);
}

.main-text h1 {
  font-size: 80px;
  font-family: "Exo", sans-serif;
  font-weight: 600;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 0.02em;
  -webkit-transform: scale3d(1, 1, 1);
          transform: scale3d(1, 1, 1);
  -webkit-animation: loop-text 10s infinite;
          animation: loop-text 10s infinite;
  content: "hello";
}

.main-text h1::before, .main-text h1::after {
  -webkit-animation: loop-text 10s infinite;
          animation: loop-text 10s infinite;
  content: "hello";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  overflow: hidden;
  background: #1d1d1d;
  color: #fff;
  clip: rect(0, 900px, 0, 0);
}

.main-text h1::before {
  left: 7px;
  text-shadow: 2px 0 green;
  animation: glitch-effect 3s infinite linear alternate-reverse;
}

.main-text h1::after {
  left: 3px;
  text-shadow: -2px 0 red;
  animation: glitch-effect 2s infinite linear alternate-reverse;
}

@-webkit-keyframes glitch-effect {
  0% {
    clip: rect(74px, 9999px, 35px, 0);
  }
  5% {
    clip: rect(6px, 9999px, 30px, 0);
  }
  10% {
    clip: rect(83px, 9999px, 5px, 0);
  }
  15% {
    clip: rect(11px, 9999px, 34px, 0);
  }
  20% {
    clip: rect(31px, 9999px, 58px, 0);
  }
  25% {
    clip: rect(18px, 9999px, 19px, 0);
  }
  30% {
    clip: rect(85px, 9999px, 53px, 0);
  }
  35% {
    clip: rect(31px, 9999px, 19px, 0);
  }
  40% {
    clip: rect(28px, 9999px, 59px, 0);
  }
  45% {
    clip: rect(81px, 9999px, 17px, 0);
  }
  50% {
    clip: rect(58px, 9999px, 68px, 0);
  }
  55% {
    clip: rect(37px, 9999px, 95px, 0);
  }
  60% {
    clip: rect(82px, 9999px, 11px, 0);
  }
  65% {
    clip: rect(76px, 9999px, 78px, 0);
  }
  70% {
    clip: rect(32px, 9999px, 44px, 0);
  }
  75% {
    clip: rect(87px, 9999px, 50px, 0);
  }
  80% {
    clip: rect(65px, 9999px, 5px, 0);
  }
  85% {
    clip: rect(8px, 9999px, 57px, 0);
  }
  90% {
    clip: rect(72px, 9999px, 12px, 0);
  }
  95% {
    clip: rect(78px, 9999px, 7px, 0);
  }
  100% {
    clip: rect(55px, 9999px, 82px, 0);
  }
}

@keyframes glitch-effect {
  0% {
    clip: rect(74px, 9999px, 35px, 0);
  }
  5% {
    clip: rect(6px, 9999px, 30px, 0);
  }
  10% {
    clip: rect(83px, 9999px, 5px, 0);
  }
  15% {
    clip: rect(11px, 9999px, 34px, 0);
  }
  20% {
    clip: rect(31px, 9999px, 58px, 0);
  }
  25% {
    clip: rect(18px, 9999px, 19px, 0);
  }
  30% {
    clip: rect(85px, 9999px, 53px, 0);
  }
  35% {
    clip: rect(31px, 9999px, 19px, 0);
  }
  40% {
    clip: rect(28px, 9999px, 59px, 0);
  }
  45% {
    clip: rect(81px, 9999px, 17px, 0);
  }
  50% {
    clip: rect(58px, 9999px, 68px, 0);
  }
  55% {
    clip: rect(37px, 9999px, 95px, 0);
  }
  60% {
    clip: rect(82px, 9999px, 11px, 0);
  }
  65% {
    clip: rect(76px, 9999px, 78px, 0);
  }
  70% {
    clip: rect(32px, 9999px, 44px, 0);
  }
  75% {
    clip: rect(87px, 9999px, 50px, 0);
  }
  80% {
    clip: rect(65px, 9999px, 5px, 0);
  }
  85% {
    clip: rect(8px, 9999px, 57px, 0);
  }
  90% {
    clip: rect(72px, 9999px, 12px, 0);
  }
  95% {
    clip: rect(78px, 9999px, 7px, 0);
  }
  100% {
    clip: rect(55px, 9999px, 82px, 0);
  }
}

@-webkit-keyframes loop-text {
  10% {
    content: "1";
  }
  20% {
    content: "2";
  }
  30% {
    content: "3";
  }
  40% {
    content: "4";
  }
  50% {
    content: "5";
  }
  60% {
    content: "6";
  }
  70% {
    content: "7";
  }
  80% {
    content: "8";
  }
  90% {
    content: "9";
  }
  100% {
    content: "10";
  }
}

@keyframes loop-text {
  10% {
    content: "1";
  }
  20% {
    content: "2";
  }
  30% {
    content: "3";
  }
  40% {
    content: "4";
  }
  50% {
    content: "5";
  }
  60% {
    content: "6";
  }
  70% {
    content: "7";
  }
  80% {
    content: "8";
  }
  90% {
    content: "9";
  }
  100% {
    content: "10";
  }
}

body {
  background-color: #1d1d1d !important;
}
/*# sourceMappingURL=index.css.map */