body {
    background-color: #1d1d1d !important;
}

.item-div{
    text-align: center;
    .skill-img {
        display: inline-block;
        width: 75px;
        height: 75px;
        position: absolute;
    }
}

